<div class="row" id="about-page">
  <div class="col-md-12">
    <div class="row row-header">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <%= __('SECOND LIFE OF A TREE') %>
          </div>
          <div class="col-md-7 hidden-xs"></div>
        </div>
      </div>
    </div>
    <div class="row row-second-life-of-a-tree">
      <div class="col-xs-12">
        <%- __('about.second_life_of_a_tree') %>
        <img src="/images/team.jpg" class="img-responsive"/>
      </div>
    </div>
    <br/>
    <div class="row row-header">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <%= __('REFUNDS AND EXCHANGES POLICIES') %>
          </div>
          <div class="col-md-7 hidden-xs"></div>
        </div>
      </div>
    </div>
    <div class="row row-refunds-and-exchanges-policies">
      <div class="col-xs-12">
        <%- __('about.refunds_and_exchanges_policies') %>
      </div>
    </div>
    <!--
    <div class="row row-header">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <%= __('OUR TEAM') %>
          </div>
          <div class="col-md-7 hidden-xs"></div>
        </div>
      </div>
    </div>
    <div class="row members">
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">IVAN PEJDIĆ</div>
          <div class="title">FOUNDER</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">ZORAN STAJIĆ</div>
          <div class="title">SUPPORT</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">BANE JANKOVIĆ</div>
          <div class="title">PRODUCTION</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">ŽIKA PETROVIĆ</div>
          <div class="title">PRODUCTION</div>
        </div>
      </div>
    </div>
    <div class="row members">
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">ANA PEJDIĆ</div>
          <div class="title">ART</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">TIJANA MILJKOVIĆ</div>
          <div class="title">DESIGN</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">MARKO SANKOVIĆ</div>
          <div class="title">DEVELOPER</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="member text-center">
          <img src="/images/team/ivan-pejdic.jpg"/>
          <div class="name">LARA TRPKOVIĆ</div>
          <div class="title">STYLIST</div>
        </div>
      </div>
    </div>
    -->
  </div>
</div>