<div class="row">
  <div class="col-md-12">
    <ul id="products-categories" class="text-center">
      <li><a href="/products/<%= type %>">ALL</a></li>        
      <li><a href="/products/<%= type %>/tables">TABLES</a></li>
      <li><a href="/products/<%= type %>/chairs">CHAIRS</a></li>
      <li><a href="/products/<%= type %>/lamps">LAMPS</a></li>
      <li><a href="/products/<%= type %>/beds">BEDS</a></li>
      <li><a href="/products/<%= type %>/accessories">ACCESSORIES</a></li>
    </ul>
  </div>
</div>