<div class="grid">
  <% for (let product of products) { %>
    <div class="grid-item product-item layout-<%= product.featured_image_layout %>">
      <div class="product-featured-image" style="background-image: url(/images/products/featured/<%= product.featured_image %>);">
        <div class="product-info text-center">
          <h3 class="product-name">
            <a href="/products/<%= product.slug %>">
              <%= product.name %>
            </a>
          </h3>
          <div class="product-category-name">
            <a href="/products/<%= product.category.slug %>">
              <%= product.category.name %>
            </a>
          </div>
          <div class="product-dimension">
            <%= product.dimension %>
          </div>
          <div class="product-material">
            <%= product.material %>
          </div>
        </div>
      </div>
    </div>
    <% } %>
</div>

<script type="text/javascript">
  $('.grid').masonry({
    // set itemSelector so .grid-sizer is not used in layout
    itemSelector: '.grid-item',
    // use element for option
    percentPosition: true
  });
</script>

<script type="text/javascript">
  $(function() {
    $('.product-item').on('mouseenter', function(e) {
      var $target = $('.product-info', e.currentTarget);
      $($target).css('visibility', 'visible');
      $($target).animateCss('zoomIn');
    });

    $('.product-item').on('mouseleave', function(e) {
      var $target = $('.product-info', e.currentTarget);
      $($target).animateCss('zoomOut', function() {
        $($target).css('visibility', 'hidden');
      });
    });
  });
</script>