<div class="row" id="products-product-page">
  <div class="col-md-12">
    <%- include('_categories-nav', { categories: categories }) %>
    <% if (locals.category) { %>
      <%- include('_category-title', { category: category }) %>
    <% } %>
    <div class="row">
      <div class="col-sm-7">
        <% if (product.gallery_count) { %>
          <div id="carousel-product-gallery" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <% for (let i = 0; i < product.gallery_count; i++) { %>
                <div class="item <% if (i === 0) { %>active<% } %>">
                  <img class="d-block img-fluid img-standard" src="/images/products/gallery/<%= product.slug %>/<%= i %>.jpg" data-title="<%= product.name %>" data-caption="<%- include('_product-info-intense', { product: product }) %>" />
                </div>
              <% } %>
            </div>
          </div>
          <% if (product.gallery_count > 1) { %>
            <div id="product-gallery-thumbnails">
              <% for (let i = 0; i < product.gallery_count; i++) { %>
                <div>
                  <img class="img-fluid<%= i === 0 ? ' active' : ''%>" src="/images/products/gallery/<%= product.slug %>/<%= i %>-thumbnail.jpg" data-index="<%= i %>" />
                </div>
              <% } %>
            </div>
          <% } %>
        <% } %>
      </div>
      <div class="col-sm-5">
        <%- include('_product-info', { product: product }) %>
        <div style="width: 40%;">
          <hr class="hr-solid">
        </div>
        <div class="text-right">
          <a href="/products/<%= product.slug %>/buy" class="btn btn-flame"><%= __('BUY THIS PRODUCT') %></a>
        </div>
        <hr class="hr-solid"/>
        <div><%= __('SHARE THIS PRODUCT') %>:</div>
        <div class="share-product">
          <a href="http://www.facebook.com/share.php?u=<%= fullUrl %>&title=<%= __('product.share', product.name) %>"><img src="/images/share-facebook.png" title="Facebook: <%= __('product.share', product.name) %>" width="53" height="53" /></a>
          <a href="http://twitter.com/intent/tweet?status=<%= __('product.share', product.name) %>+<%= fullUrl %>"><img src="/images/share-twitter.png" title="Twitter: <%= __('product.share', product.name) %>" width="53" height="53" /></a>
          <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%= baseUrl %>/images/products/featured/<%= product.slug %>.jpg&url=<%= fullUrl %>&is_video=false&description=<%= __('product.share', product.name) %>"><img src="/images/share-pinterest.png" title="Pinterest: <%= __('product.share', product.name) %>" width="53" height="53" /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).bind('keyup', function(e) {
    if (e.which == 39) {
      $('.carousel').carousel('next');
    } else if (e.which == 37) {
      $('.carousel').carousel('prev');
    }
  });

  $('#product-gallery-thumbnails img').click(function(e) {
    $('.carousel').carousel($(e.currentTarget).data('index'));
  });

  var intenseProductImages = [];

  $(function () {
    $('.carousel').on('slide.bs.carousel', function (e) {
      var index = $('.carousel .item').index(e.relatedTarget);
      $('#product-gallery-thumbnails img').removeClass('active');
      var thumbnail = $('#product-gallery-thumbnails img').get(index);
      $(thumbnail).addClass('active');
      
      var productImage = e.relatedTarget.getElementsByTagName('img')[0];
      if (!intenseProductImages.includes(productImage)) {
	      Intense(productImage);
        intenseProductImages.push(productImage);
      }
    });

    var carouselProductGallery = document.querySelector('#carousel-product-gallery');
    var productImage = carouselProductGallery.getElementsByTagName('img')[0];
    Intense(productImage);
    intenseProductImages.push(productImage);
  });
</script>