<%- include('_categories-list', { categories: categories }) %>
<% if (locals.category) { %>
  <%- include('_category-title', { category: category }) %>
<% } %>

<div><img src="/images/products/<%= product.featured_image %>" width="120" height="80" /></div>
<div>
  <%= product.name %><br/>
  <%= product.category.name %><br/>
  <%= product.dimension %><br/>
  <%= product.material %>
</div>